@import '../custom';
@import '../components/mixins';

.footer {

    .newsletter {
        width: 100%;
        height: 100%;
        background-color: $primary;
        color: $white;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include media-breakpoint-down(lg) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        &--text {
            h4 {
                font-size: 1.375rem;
                font-weight: 700;

                @include media-breakpoint-down(lg) {
                    font-size: 1rem;
                }
        
            }

            p {
                font-size: 1rem;
                margin-top: -0.5rem;

                @include media-breakpoint-down(lg) {
                    font-size: 0.85rem;
                    margin-top: 0rem;
                }
            }
        }

        svg {
            width: 5.438rem;
            height: auto;

            @include media-breakpoint-down(lg) {
                width: 3rem;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }

        }
    

        .input-group {
            input {
                background-color: $primary;
                border: 0.113rem solid $white;
                width: 19.391rem;
                height: 3.438rem;
                font-size: 1rem;

                @include media-breakpoint-down(xl) {
                    width: 5rem;
                    height: 2.5rem;
                }

                @include media-breakpoint-down(sm) {
                    width: auto;
                    height: auto;
                }

            }

            button {
                background-color: $white;
                width: 6.875rem;
                height: 3.438rem;

                @include media-breakpoint-down(xl) {
                    width: 5rem;
                    height: 2.5rem;
                }

                @include media-breakpoint-down(sm) {
                    width: auto;
                    height: auto;
                }

                &:hover {
                    background-color: $gray-100;
                }
            }
        }
        
    }

    .footer {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h5 {
            color: $gray-700;
            font-size: 1rem;
        }

        &--link {
            text-decoration: none;
            color: $gray-600;
            font-size: 0.875rem;

            &:hover {
                text-decoration:underline;
            }
        }

        &--kontak {
            span {
                font-size: 0.875rem;
                color: $gray-600;
            }

            .socmed {
                gap: 1rem;

                svg {
                    color: $gray-600;
                }
            }
        }
    }
}