@import '../custom';

.navbar {
    background-color: $white;

    h1 {
        display: none;
    }
    

    .navbar-nav {

        .nav-item {
            margin-left: 0rem;

            @include media-breakpoint-up(xl) {
                margin-left: 1.875rem; 
            }

            .nav-link {
                color: $gray-700;
            }
        } 
    }

}

