@import '../custom';

.sidebar {
    height: fit-content;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $gray-200;
    padding: 2rem 0rem 2rem 2rem;

    @include media-breakpoint-down(lg){
        display: none;
    }

    h5 {
        color: $gray-700;
        font-size: 1rem;
        margin-top: 1rem;
    }

    h5.no-mt {
        margin-top: 0rem;
    }
    
    &--link {
        text-decoration: none;
        color: $gray-600;
        font-size: 0.875rem;

        &:hover {
            text-decoration:underline;
        }

        .active {
            color: $primary;
            text-decoration: underline;
            font-weight: 700;
        }
    }


}