// My theme colors 
$green:  #38A169;

// White and gray colors 
$white:    #fff;
$gray-50:  #F7FAFC;
$gray-100: #EDF2F7;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-900: #171923;
$black:    #000;

$primary : $green;
$secondary :$white;
$input-placeholder-color: $white;
$nav-link-color: $primary;

$carousel-indicator-width:           0.875rem;
$carousel-indicator-height:          0.875rem;
$carousel-indicator-hit-area-height: 0.875rem;
$carousel-indicator-spacer:          0.2rem;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


