@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap');

.App {
  background-color: #F7FAFC;
  font-family: 'Lato', sans-serif;
}

@import "./custom";
@import "./components/mixins";
@import "./components/typography";
@import "./inc/navbar";
@import "./inc/sidebar";
@import "./inc/footer";
@import "./pages/home";
@import "./pages/visi";
@import "./pages/sejarah";
