@import '../custom';
@import '../components/mixins';

.home {
    // padding-top: 1.563rem;
    padding-bottom: 5rem;

    .hero {
        margin-bottom: 7.5rem;

        @include media-breakpoint-down(md) {
            display: none;
        }

            .carousel {

                .carousel-inner {

                    .carousel-item {
                        background-color: $primary;
                        position: relative;

                        .overlay {
                            background-color: rgba(#000000, 0.70);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            border-radius: 5px;
                            top: 0;
                            opacity: 1;
                            visibility: visible;
                        }

                        .carousel-caption {

                            
                            @include media-breakpoint-up(xl) {
                                @include bottomLeftCorner2;
                                width: 40%;                           
                            }

                            @include media-breakpoint-down(xl) {
                                @include absoluteCenter;
                                width: 70%; 
                            }

                            .caption {
                                text-align: left;

                                @include media-breakpoint-down(xl) {
                                    text-align: center;
                                }

                                h5 {
                                    color: $white;
                                    font-size: 2.25rem;
                                    font-weight: 900;

                                    @include media-breakpoint-down(xl) {
                                        font-size: 1.75rem;
                                        font-weight: 700;
                                    }
                                }

                                p {
                                    color: $gray-200;
                                    font-size: 1.125rem;

                                    @include media-breakpoint-down(xl) {
                                        font-size: 1rem;
                                    }
                                }

                            }
                        }

                        img {
                            height: 50rem;
                            object-fit: cover;

                            @include media-breakpoint-down(xl) {
                                height: 30rem;
                                object-fit: cover;
                            }

                            @include media-breakpoint-down(md) {
                                height: 10.938rem;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
    }

    .kalender {
        margin-bottom: 7.5rem;

        @include media-breakpoint-down(md) {
            margin-top: 2rem;
        }

        &--list {
            padding: 1.5rem;
            background-color: $white;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
            &--border {
                border-left :1px solid $primary;
                border-right: 1px solid $primary;
    
                @include media-breakpoint-down(md) {
                    border-right: 1px solid transparent;
                    border-left : 1px solid $primary;
                }
    
                li {
                    color: $gray-700;
                }
            }
    
            h5 {
                text-align: center;
                color: $gray-700;
            }
    
            ul {
                color: $gray-600;
            }
        }
    }

    .news {
        margin-bottom: 7.5rem;

        &--list {

            &--box {
                position: relative;
                width: 100%;
                overflow: hidden;
            
                img {
                    width: 100%;
                    pointer-events: none;
                }
            
                &--before{
                    background-color: rgba(#000000, 0.70);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 5px;
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                    cursor: pointer;
            
                    .caption {
                        @include bottomLeftCorner;
                        text-align: left;
                        color: $white;
                        width: 100%;
                        padding-left: 2rem;
                        padding-right: 2rem;
            
                        h4 {
                            font-size: 1.5rem;
                            font-weight: 700;
                            color: $white;

                            @include media-breakpoint-down(xl){
                                font-size : 1.25rem;
                            }
                        }
        
                        p {
                            font-size: 1.125rem;
                            font-weight: 500;
                            color: $gray-400;

                            @include media-breakpoint-down(xl){
                                font-size : 1rem;
                            }
                        }
            
                    }
            
                }
        
                &--after {
                    background-color: $white;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 5px;
                    border: 1px solid $gray-300;
                    top: 0;
                    opacity: 1;
                    visibility: hidden;
            
                    .caption {
                        @include absoluteCenter;
                        text-align: left;
                        width: 100%;
                        padding-left: 1.5rem;
                        padding-right: 1.5rem;

                        @include media-breakpoint-down(xl) {
                            padding-left: .5rem;
                            padding-right: .5rem;
                        }
            
                        h4 {
                            font-size: 1.5rem;
                            font-weight: 700;
                            color: $gray-700;

                            @include media-breakpoint-down(xl){
                                display: none;
                            }
                        }
        
                        span {
                            font-size: 1.125rem;
                            font-weight: 500;
                            color: $gray-400;

                            @include media-breakpoint-down(xl){
                                display: none;
                            }
                        }
        
                        p {
                            font-size: 1rem;
                            color: $gray-600;
                            height: 4.75rem;
                            overflow: hidden;
                        }
            
                    }
            
                }
                
        
                &:hover {
        
                    .news--list--box--before {
                        visibility: hidden;
                    }
        
                    .news--list--box--after {
                        visibility: visible;
                    }
        
                }
        
            }
        }
    }

    .social {
        margin-bottom: 7.5rem;
        
        &--feed {

            &--item {
                color: $gray-700;

                a {
                    text-decoration: none;
                    color: $gray-700;
                }
                
                .logo-insta {

                    img {
                        width: 1.875rem;
                        height: 1.875rem;
                    }
                }

                span {
                    font-size: 0.875rem;
                    font-weight: 700;
                }

                h5 {
                    font-size: 1rem;
                    font-weight: 700;
                }

                p {
                    font-size: 0.875rem;
                    height: 3.5rem;
                    line-height: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .judul {
        color: $gray-700;
        font-size: 1.75rem;
        font-weight: 700;

        @include media-breakpoint-down(sm) {
            font-size: 	1.5rem;
     
        }
    }

    &--content {
        color: $gray-700;
        border-radius: 5px;
        background-color: $white;

        h4 {
            font-size: 1.375rem;
            font-weight: 500;
            text-align: center;

            @include media-breakpoint-down(sm) {
                font-size: 1.275rem;
         
            }
        }

        h5 {
            font-size: 1rem;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
                font-size: 	0.975rem;
            }
        }

        p {
            font-size: 1rem;

            @include media-breakpoint-down(sm) {
                font-size: 	0.975rem;
         
            }
        }

    }



}

