@import '../custom';

.visi {
    padding: 5rem 0rem 5rem 0rem;

    @include media-breakpoint-down(lg) {
        padding: 3rem 0rem 5rem 0rem;
    }
    
    .judul {
        color: $gray-700;
        font-size: 1.75rem;
        font-weight: 700;

        @include media-breakpoint-down(sm) {
            font-size: 	1.5rem;
     
        }
    }

    &--content {
        color: $gray-700;
        border-radius: 5px;
        border: 1px solid $gray-200;
        background-color: $white;

        h4 {
            font-size: 1.375rem;
            font-weight: 500;
            text-align: center;

            @include media-breakpoint-down(sm) {
                font-size: 1.275rem;
         
            }
        }

        h5 {
            font-size: 1rem;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
                font-size: 	0.975rem;
            }
        }

        p {
            font-size: 1rem;

            @include media-breakpoint-down(sm) {
                font-size: 	0.975rem;
         
            }
        }

    }
}