@use '../custom' as *;

// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// BOTTOM LEFT CORNER
@mixin bottomLeftCorner {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// BOTTOM LEFT CORNER
@mixin bottomLeftCorner2 {
    position: absolute;
    top: 60%;
    left: 34%;
    transform: translate(-50%, -50%);
}