@use '../custom' as *;

// Home Page
.home {
    
    h3{
        font-size: 1.5rem;
        color: $gray-700;
        font-weight: 700;
    }
}

// Content
// .content {
//     display: block;
// }

// Heading Line
.heading-line::before {
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
  
.heading-line::after {
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}